<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Upload image</title>
</head>
<body>
	<div class="container">
		{% block main %}
			hello
		{% endblock %}
	</div>
</body>
</html>