body {
	background: #a1a1a1;
	box-sizing: border-box;
	margin: 0;
}
.block {
	position:absolute;
	width: 100%;
	height:100%;
	background:url("http://www.wallpaperup.com/uploads/wallpapers/2013/02/04/34313/b4cdcabbad6dae3fa444a32f6a666f13.jpg") no-repeat;
	background-size:140%;
	background-position:center;

}