@charset "utf-8";
blockquote {
	background: rgba(0,0,0,.1);
	padding: 35px 10px 10px 10px;
	border-left:5px solid #666;
	position:relative;
}
blockquote::before {
	font-size:5em;
	position:absolute;
	color:gray;
	content:open-quote;
	left:5px;
	top: -10px;
}
.note {
	position:absolute;
	padding:5px;
	border:1px solid #666;
	background:white;
	box-shadow:0px 3px 2px rgba(0,0,0,.5);
	border-radius:10px;
}
.note-top {
	left:0;
}
.note-right {
	top:0;
}
.note-left {
	top:0;
}
.note-bottom {
	left:0;
}