$color: white;
$h1-color: white;
$h1-shadow: 4px 4px 0 #525252;
$h1-size:	5em;
$h1-font: 'Raleway', sans-serif;
$p-color: white;
$background-img: url('../images/background.jpg');


body{
	background: $background-img;
	main {
		margin: 200px auto 0 auto;
		width: 60%;
		h1, p, .pure-form {
			text-align: center;
			color: $color;
		}
		h1{
			margin-bottom:0 !important;
			text-shadow: $h1-shadow;
			font-family: $h1-font;
			color: $h1-color;
			font-size: $h1-size;
		}
		p {
			width: 50%;
			margin: 10px auto 50px auto;
			text-shadow: 1px 2px 1px #595959;
		}
		.pure-form {
			color: grey;
			input, select {
				margin: 0 auto !important;
			}
			label {
				color: $color;
			}
		}
	}
}
